.hero{
    background: url(../images/home-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 296px 0;
}
.hero-text{
    text-align: right;
    color: $c_secondary;
    h3{
        font-size: $fz_2l;
    }
    h2{
        font-size: $fz_5l;
        font-weight: 700;
        margin-bottom: 4px;
    }
    a{
        display: inline;
        padding: 6px 12px;
        font-size: $fz_m;
        color: $c_white;
        font-weight: 500;
        line-height: 1.5;
        background-color: $c_min;
        &:hover{
            background: $c_secondary;
        }
    }
}
.index_title{
    color: $c_secondary;
    font-size: $fz_4l;
    text-align: center;
    font-weight: 700;
    margin-bottom: 48px;
}
.py-80{
    padding: 80px 0;   
}

.list{
    display: flex;
    justify-content: space-between;
    margin-right: -12px;
    margin-left: -12px;
    a{
        &:hover{
            opacity: 0.9;
            box-shadow: 0px 2px 6px $c_shadow;
        }
    }
}
.feature{
    background: $c_bg_red;
    .index_title{
        margin-bottom: 24px;
    }
    .list{
        color: $c_secondary;
    }    
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        margin-right: 12px;
        margin-left: 12px;
    }
    .card-title{
        text-align: center;
        span{
            font-size: 100px;
            margin-bottom: 16px;
        }
        h4{
            font-size: $fz_s-l;
            font-weight: 700;
            margin-bottom: 8px;
        }
    }
    .card-body{
        p{
            color: $c_black;
            font-size: $fz-s-s;            
        }

    }
}
.classic{
    .card{
        display: flex;
        justify-content: center;
        width: 33.33333333333333%;
        margin-right: 12px;
        margin-left: 12px;
        img{
            margin-bottom: 8px;
        }
    }
    .card-title{
        color: $c_min;
        font-style:italic;
        font-weight: 900;
        font-size: $fz_4l;
        text-align: center;
    }
}
.design{
    background: url(../images/index-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    .index_title{
        color: $c_white;
    }
}
.design-card{
    width: 50%;
    .card-title{
        color: $c_min;
        background: $c_white;
        font-style:italic;
        font-weight: 900;
        font-size: $fz_4l;
        text-align: center;
        padding: 8px 0;
    }
}
.customer{
    .card{
        width: 25%;
        margin-right: 12px;
        margin-left: 12px;
        border: 1px solid $c_bd;
        border-radius: 4px;
        box-shadow: 0px 2px 6px $c_shadow;
        img{
            margin-bottom: 16px;
        }
    }
    .card-body{
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 16px;
    } 
    .card-title{
        font-size: $fz_s-s;
        font-weight: 500;
        margin-bottom: 8px;
    }
    .card-word{
        font-size: $fz_s-s;
        color: $c_black;
        margin-bottom: 72px;
        min-height: 3rem;
    }
    .card-date{
        font-size: $fz_xs;
        color: $c_gary-date;
    }
}
.contactform{
    background: $c_bg_red;
    .container{
        max-width: 660px;
        p{
            font-size: $fz_m;
            margin-bottom: 24px;
        }
    }
    .lbl-box{
        margin-bottom: 16px;
        
    }
    .lbl-title{
        margin-bottom: 8px;
        display: block;
    }

    .lbl-input{
        display: block;
        width: 100%;
        font-size: inherit;
        line-height: inherit;
        background-color: transparent;
        border: 1px solid #000000;
        padding: 5px 12px;
    }
    .lbl-area{
        width: 100%;
        min-height: 136px;
        max-height: 136px;
    }
    .agree{
        margin-bottom: 48px;
        padding-left: 28px;
        position: relative;

    }
    .agree{
        input[type='checkbox'] {
            appearance: none;
            position: absolute;
            background: transparent;
            border: 2px solid $c_black;
            border-radius: 3px;
            left: 0;
            height: 20px;
            width: 20px;
            margin: 0 2px 4px;
            cursor: pointer;
            + label {
              cursor: pointer;
            }
            &::before {
              content: '';
              position: absolute;
              display: none;
              left: 5px;
              top: 1px;
              width: 8px;
              height: 12px;
              border: solid $c_white;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
            }
            &:checked {
              background-color: $c_min;
              border: 1px solid transparent;
              &::before {
                display: block;
              }
            }
          }
    }
    
    .send{
        text-align: center;
    }
    .send-btn{
        background: $c_min;
        color: $c_white;
        width: 66.66666666666666%;
        padding: 16px 0;
        font-weight: 700;
        border: none;
        font-size: $fz_s-s;
        line-height: 1.5;
        &:hover{
            background: $c_secondary;
        }
    }
    
}

@media screen and (max-width: 769px){
    .mb-24{
        margin-bottom: 24px;
    }
    .list{
        margin: 0;
    }

    .hero{
        background: url(../images/home-header-sm.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .feature{
        .list{
            flex-wrap: wrap;
            justify-content: center;
        }
        .card{
            width: 45%;
        }
    }
    .classic{
        .list{
            flex-direction: column;
            align-items: center;
        }
        .card{
            width: 43.75%;
        }
    }
    .design{
        background: url(../images/index-bg-md.png);
        background-size: cover;
        background-repeat: no-repeat;

        .list{
            flex-direction: column;
            align-items: center;
        }
        .design-card{
            width: 100%;
        }
    }
    .customer{
        .list{
            flex-wrap: wrap;
            justify-content: center;
        }
        .card{
            width: 45%;
        }
    }
}
@media screen and (max-width: 425px) {

    .hero{
        background: url(../images/home-header-sm.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 144px 0;
    }
    .hero-text{
        h3{
            font-size: $fz_s-s;
        }
        h2{
            font-size: $fz_s-l;
        }
    }
    .py-80{
        padding-top: 40px;
        padding-bottom: 16px;
    }
    .index_title{
        font-size: $fz_s-l;
        margin-bottom: 24px;
    }
    .feature{
        .card{
            width: 100%;
        }
    }
    .classic{
        .card{
            width: 100%;
        }
    }
    .design{
        background: url(../images/index-bg-sm.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 40px;
    }
    .customer{
        .card{
            width: 100%;
        }
    }



}